<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,target-densitydpi=160dpi,user-scalable=no"
    />
    <meta name="robots" content="noarchive" />
    <meta name="googlebot" content="noarchive" />
    <meta
      name="description"
      content="Sortweb - это студия разработки интернет-сайтов и программного обеспечения для малого и среднего бизнеса. Полный комплекс услуг под ключ."
    />
    <meta
      property="og:title"
      content="Разработка сайтов для малого и среднего бизнеса"
    />
    <meta
      property="og:description"
      content="Sortweb - это студия разработки интернет-сайтов и программного обеспечения для малого и среднего бизнеса. Полный комплекс услуг под ключ."
    />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="website" />
    <meta name="yandex-verification" content="00fa2440a3514f21" />
    <meta property="og:site_name" content="SortWeb" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/img/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/img/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/img/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/img/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/img/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/img/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/img/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/img/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/img/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <title>Разработка сайтов для малого и среднего бизнеса</title>
    <link rel="stylesheet" href="/bundle.css" />
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var script = document.createElement("script");
      script.src = "/bundle.js";
      script.async = true;
      document.head.appendChild(script);
    });
  </script>
  <body>
    <!-- header -->
    <header>
      <div class="header-wrapper">
        <div class="header__logo">
          <a href="">[web].Sort <span>studio</span> </a>
        </div>
        <div class="header__nav">
          <nav>
            <ul>
              <li><a data-goal="btn-audit" href="#audit">Аналитика</a></li>
              <li><a data-goal="btn-audit" href="#portfolio">Портфолио</a></li>
              <li><a data-goal="btn-order" href="#prices">Цены</a></li>
              <li><a target="_blank" href="https://bad-dev.ru">Блог</a></li>
            </ul>
          </nav>
          <div class="header__action">
            <a data-goal="btn-order" href="#order" class="btn btn--darken"
              >Оставить заявку</a
            >
          </div>
        </div>
      </div>
    </header>
    <!-- header -->
    <!-- hero bg containers -->
    <div class="bg-effect-1"></div>
    <div class="bg-effect-2"></div>
    <div class="bg-effect-3"></div>
    <div class="bg-effect-4"></div>
    <!-- hero bg containers -->
    <!-- hero section -->
    <section class="hero">
      <div class="hero-wrapper">
        <div class="hero__info">
          <h1>Разработка интернет-проектов для малого и среднего бизнеса</h1>
          <p>
            Поможем Вам проанализировать текущее положение дел и найти новых
            клиентов.
          </p>
          <div class="hero__info-action">
            <a data-goal="btn-order" class="btn btn--lighten" href="#order"
              >Заказать разработку</a
            >
            <a data-goal="btn-audit" class="btn btn--empty" href="#audit"
              >Аудит</a
            >
          </div>
        </div>
        <div class="hero__image">
          <img src="/img/hero-image-2.png" alt="" />
        </div>
      </div>
    </section>
    <!-- hero section / -->
    <!-- hero next section -->
    <section class="hero-next">
      <div class="hero-next-wrapper">
        <div class="hero-next__title sub-title">
          Мы знаем и понимаем бизнес, потому что мы сами бизнес.
        </div>
        <div class="hero-next__text">
          Разрабатываем собственные продукты и проекты под заказ для компаний из
          списка <span>Forbes</span> и <span>Fortune 500</span>
        </div>
      </div>
    </section>
    <!-- hero next section -->
    <!-- portfolio works -->
    <section class="portfolio" id="portfolio">
      <div class="portfolio-wrapper">
        <h2>Самые крупные клиенты</h2>
        <div class="clients">
          <div class="client-item">
            <img src="/img/topvilla.png" alt="" />
          </div>
          <div class="client-item"><img src="/img/bf.png" alt="" /></div>
          <div class="client-item">
            <img src="/img/aero.png" alt="" />
          </div>
          <div class="client-item">
            <img src="/img/shuttle.png" alt="" />
          </div>
          <div class="client-item">
            <img src="/img/etoro.png" alt="" />
          </div>
          <div class="client-item">
            <img src="/img/oko.png" alt="" />
          </div>
          <div class="client-item"><img src="/img/mc.png" alt="" /></div>
          <div class="client-item">
            <img src="/img/Sodexo.png" alt="" />
          </div>
          <div class="client-item">
            <img src="/img/metrum.png" alt="" />
          </div>
        </div>
        <!-- portfolio box -->
        <div class="portfolio-list">
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/topvilla.webp" alt="Topvilla" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="https://topvilla.io/landing">
                <div class="title">Topvilla</div>
                <div class="text">Агенство недвижимости на Пхукете</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img
                src="/img/portfolio/portfolio-business.webp"
                alt="Uaround business messenger"
              />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="https://бизнесмессенджер.рф">
                <div class="title">Uaround</div>
                <div class="text">Безопасный мессенджер для бизнеса</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/bitflip.webp" alt="BitFlip Limited" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="https://bitflip.cc/landing/entry">
                <div class="title">BitFlip Limited</div>
                <div class="text">Российская криптовалютная биржа BitFlip.</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/bill.webp" alt="Bill.me" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="https://bill.me">
                <div class="title">Bill.me</div>
                <div class="text">Landing page для CRM стартапа из Риги</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/boat.webp" alt="Boat.me" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="https://boat.me">
                <div class="title">Boat.me</div>
                <div class="text">AirBNB для аренды лодок в Маями.</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/legal.webp" alt="Правовой диалог" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="https://legal-dialogue.org">
                <div class="title">Правовой диалог</div>
                <div class="text">Онлайн-журнал о правах человека.</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/beaver.webp" alt="Beaverlandscape" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="http://beaverlandscape.com">
                <div class="title">Beaverlandscape</div>
                <div class="text">Агенство ландшафтного дизайна из Канады.</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/shuttleon.webp" alt="Shuttleon" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="http://shuttleon.com">
                <div class="title">Shuttleon</div>
                <div class="text">
                  Посадочные страницы и блог для финтех стартапа.
                </div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/fliphub.webp" alt="Fliphub" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="https://fliphub.ru">
                <div class="title">Fliphub</div>
                <div class="text">Новостной портал о криптовалютном рынке.</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/avtostart.webp" alt="Avtostar67" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="http://avtostar67.ru">
                <div class="title">Avtostar67</div>
                <div class="text">Сайт для школы вождения.</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img
                src="/img/portfolio/portfolio-messenger.webp"
                alt="UAround"
              />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="http://uaround.ru/">
                <div class="title">YOU Around</div>
                <div class="text">Корпоративный сайт для социальной сети</div>
              </a>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="portfolio-item__img">
              <img src="/img/portfolio/plym.webp" alt="Plymotion" />
            </div>
            <div class="portfolio-item__text">
              <a target="_blank" href="http://www.plymotion.com/">
                <div class="title">Plymotion</div>
                <div class="text">
                  Агенство продуктового и креативного дизайна.
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- portfolio-box -->
      </div>
    </section>
    <!-- portfolio works -->
    <!-- scrum -->
    <section class="scrum">
      <div class="scrum-wrapper">
        <div class="split-b-image">
          <img src="/img/agile.png" alt="" />
        </div>
        <div class="split-b-text">
          <h3>Работаем по методологии Agile</h3>
          <p>
            Главным преимуществом при разработке проектов по технологии Scrum
            является простой контроль выполнения сроков.
          </p>
          <p>
            Заказчик всегда в курсе того, на каком этапе находится проект, над
            какими задачами происходит текущая работа и какие приоритеты
            выставлены.
          </p>
          <p>
            Использование спринтов помогает сохранять эффективность
            разработчиков.
          </p>
        </div>
      </div>
    </section>
    <!-- scrum -->
    <!-- adaptive -->
    <section class="adaptive">
      <div class="adaptive-wrapper">
        <div class="floated adaptive-tablet">
          <img src="/img/mock-tablet.webp" alt="" />
        </div>
        <div class="floated adaptive-tablet-s">
          <img src="/img/mock-tablet-s.webp" alt="" />
        </div>
        <div class="floated adaptive-mobile">
          <img src="/img/mock-phone.webp" alt="" />
        </div>
        <div class="adaptive__content">
          <h3>Доступные и адаптивные интерфейсы</h3>
          <p>
            До 76% пользователей заходят на Ваш сайт с мобильных устройств -
            важно, чтобы проект качественно выглядел и верно функционировал на
            каждом девайсе.
          </p>
          <p>
            Мы тщательно следуем спецификациям, которые предлагают поисковые
            системы Google и Yandex, чтобы Ваш сайт верно ранжировался в
            мобильном поиске.
          </p>
        </div>
      </div>
    </section>
    <!-- adaptive -->
    <!-- audit -->
    <section class="audit" id="audit">
      <div class="audit-wrapper">
        <div class="audit__form">
          <form
            data-form="form-audit"
            method="POST"
            action="/lib/mail/auditHandler.php"
          >
            <label>Ваше имя</label>
            <input type="text" name="name" required placeholder="Иван Иванов" />
            <label>Ваш имейл</label>
            <input
              type="email"
              name="email"
              required
              placeholder="example@mail.ru"
            />
            <label
              >Расскажите о Вашей компании, предоставьте ссылку на сайт.</label
            >
            <textarea name="text" required></textarea>
            <div class="form__personal__info">
              <label
                ><input type="checkbox" required /> Даю согласие на обработку
                персональных данных согласно Политике конфиденциальности.
                <a href="/confidential">Подробнее</a></label
              >
            </div>
            <button class="btn btn--darken" type="submit">
              Заказать аудит
            </button>
          </form>
        </div>
        <div class="audit__text">
          <h3>Бесплатный аудит вашего проекта</h3>
          <p>
            Мы бесплатно проведем экспресс-аудит вашего сайта или бизнеса, чтобы
            определить - нужна ли Вам вообще услуга разработки.
          </p>
          <p>
            Если у Вас уже есть работающий проект, то мы проведем юзабилити,
            технический и SEO аудит.
          </p>
          <p>
            По отдельному запросу мы можем помочь вашему бизнесу провести SWOT
            анализ и подготовить к запуску нового направления, ниши, рынка.
          </p>
        </div>
      </div>
    </section>
    <!-- audit -->
    <!-- metrics -->
    <section class="metrics">
      <div class="metrics-wrapper">
        <div class="split-b-text">
          <h3>Внедряем нужные метрики для анализа бизнес-показателей</h3>
          <p>
            Чтобы развивать проект, необходимо понять, где вы находитесь в
            текущий момент.
          </p>
          <p>
            Первым этапом анализа является сбор данных, поэтому важно серьезно
            отнестись к настройкам аналитических инструментов на сайте.
          </p>
          <p>
            Настроенная воронка конверсий позволит понять - на каком этапе
            уходит пользователь, с какими трудностями он сталкивается.
          </p>
        </div>
        <div class="split-b-image small">
          <img src="/img/image-mock-2.png" alt="" />
        </div>
      </div>
    </section>
    <!-- metrics -->
    <!-- split -->
    <section class="split">
      <div class="split-wrapper">
        <div>
          <h4>Для нового бизнеса</h4>
          <p>
            Поможем Вам понять - нужно ли вообще запускать интернет-направление.
            Проанализируем и создадим продукт, который начнет привлекать первых
            клиентов.
          </p>
        </div>
        <div>
          <h4>Для растущего бизнеса</h4>
          <p>
            Сделаем анализ вашей ситуации и предложим решения на основе
            SWOT-анализа, расскажем о стратегии "голубого океана" и взглянем на
            бизнес-процессы.
          </p>
        </div>
      </div>
    </section>
    <!-- split -->
    <!-- prices -->
    <section class="prices" id="prices">
      <div class="prices-wrapper">
        <div class="prices__item">
          <div class="prices__item__title">Landing page</div>
          <div class="prices__item__price">от <span>45 000</span> р.</div>
          <div class="prices__item__text">
            Посадочные страницы идеально подходят для захвата внимания, если Вам
            нужно продать товар или услугу.
          </div>
        </div>
        <div class="prices__item super">
          <div class="prices__item__title">Сайт-визитка</div>
          <div class="prices__item__price">от <span>25 000</span> р.</div>
          <div class="prices__item__text">
            Сайт-визитка лучше всего подходит для информирования клиентов о
            событии, акции или краткого рассказа о компании или человеке.
          </div>
        </div>
        <div class="prices__item">
          <div class="prices__item__title">Корпоративный сайт</div>
          <div class="prices__item__price">от <span>40 000</span> р.</div>
          <div class="prices__item__text">
            Расскажите об истории Вашей компании, руководстве, партнерах и
            услугах, которые вы предлагаете.
          </div>
        </div>
      </div>
    </section>
    <!-- prices -->
    <!-- order -->
    <section class="order" id="order">
      <div class="order-wrapper">
        <div class="order__form">
          <form
            data-form="form-order"
            method="POST"
            action="/lib/mail/orderHandler.php"
          >
            <label>Ваше имя</label>
            <input type="text" name="name" required placeholder="Иван Иванов" />
            <label>Номер телефона</label>
            <input
              type="tel"
              name="tel"
              required
              placeholder="+7 999 123 1234"
            />
            <label>Ваш имейл</label>
            <input
              type="email"
              name="email"
              required
              placeholder="example@mail.ru"
            />
            <div class="form__personal__info">
              <label
                ><input type="checkbox" required /> Даю согласие на обработку
                персональных данных согласно Политике конфиденциальности.
                <a href="/confidential">Подробнее</a></label
              >
            </div>
            <button class="btn btn--darken" type="submit">
              Заказать проект
            </button>
          </form>
        </div>
        <div class="order__text">
          <h3>Закажите проект у нас</h3>
          <p>Разработка проекта состоит из нескольких этапов:</p>
          <ul>
            <li>
              1. Мы узнаем больше о Вашей компании, чтобы составить полное
              представление о преимуществах и недостатках вашего бизнеса
            </li>
            <li>
              2. Согласовываем прототип и ТЗ, дизайнер отрисовывает финальный
              продукт
            </li>
            <li>
              3. В ходе разработки проекта Вам будет предоставлен к доступ к
              текущему состоянию задач, а также к тестовому серверу, если
              тематика проекта подразумевает это
            </li>
            <li>
              4. Этап тестирования и внесения доработок, необходимость которых
              была выявлена в ходе разработки
            </li>
            <li>5. Сдача проекта</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- order -->
    <!-- footer -->
    <footer>
      <div class="footer-wrapper">
        <div class="footer__logo">
          <a href="/">[web].Sort <span>studio</span> </a>
          <p>ИП Косенко Владимир Павлович</p>
          <p>ОГРН 312673333300078</p>
          <p><a href="mailto:sales@sortweb.ru">sales@sortweb.ru</a></p>
        </div>
        <div class="footer__nav">
          <ul>
            <li><a href="/confidential">Политика конфиденциальности</a></li>
            <li>
              <a target="_blank" href="https://bad-dev.ru">Блог фаундера</a>
            </li>
          </ul>
        </div>
        <div class="footer__socials">
          <span>Следите за нами</span>
          <ul>
            <li>
              <a target="_blank" href="https://www.facebook.com/sortweb67"
                ><img src="/img/icon-facebook.svg" alt=""
              /></a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.linkedin.com/company/sortweb-ru/"
                ><img src="/img/icon-linkedin.svg" alt=""
              /></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/sortweb.ru/"
                ><img src="/img/icon-instagram.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- cookie modal -->
    <div class="cookie">
      <div>
        Используя наш сайт, вы соглашаетесь с тем, что мы можем хранить куки
        (cookies) вашего браузера.
      </div>
      <div>
        <button id="js-close-cookie" class="btn btn--small btn--lighten">
          Понятно
        </button>
      </div>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter50854765 = new Ya.Metrika2({
              id: 50854765,
              clickmap: true,
              trackLinks: true,
              accurateTrackBounce: true,
              webvisor: true
            });
          } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function() {
            n.parentNode.insertBefore(s, n);
          };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript>
      <div>
        <img
          src="https://mc.yandex.ru/watch/50854765"
          style="position:absolute; left:-9999px;"
          alt=""
        />
      </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
